<!DOCTYPE html>
<html>
<head>
	<title>Employee Details</title>
	<style type="text/css">
		p
		{
			text-align: center;
			background-color: cadetblue;
			color: white;
			padding: 23px;
			margin-right: 30%;
			margin-left: 30%; 
		}
		#sample
		{
			margin-left:30%;
			margin-right: 30%;
			background-color:pink;
			text-align: center;
			padding: 12px;
		}
		.sa
		{
			margin-left: 25%;
			margin-right: 25%;
			text-align: center;
			background-color: gray;
			padding:15px;
		}
	</style>
</head>
<body>
	<h3>Your name is : <span style="color:blue;font-size:29px">{{n}}</span></h3>
	<h4 id="sample" style="text-align: center">Your id is : {{i}}</h4>
<h1>Internal</h1>
<p>this is an example for Internal styling based on tag</p>
<h4 id="sample">This is an example for internal based on id</h4>

<h4 class="sa">This is an example for class by using Internal styling</h4>
<p class="sa">This is an example</p>
<h1 class="sa">Hi Welcome Pandu</h1>

</body>
</html>