{% load static %}
<!DOCTYPE html>
<html>
<head>
	<title>Including Internal Java Script</title>
	<script type="text/javascript">
		function generateMSG()
		{
			alert("You got it.....")
		}
	</script>
	<script type="text/javascript" src="{% static 'js/myscript.js' %}"></script>
</head>
<body>
	<h2>Please click this button to get alert from internal JS</h2>
<input type="button" name="" value="Click me" onclick="generateMSG()">
<h2>Please click this button to get alert from External JS</h2>
<input type="button" name="" value="Press me" onclick="display()">
</body>
</html>